h1 {
    color: royalblue;
    font-size: 50px;
}

h3 {
    color: #696969;
}

body {
    background: #f4f4f4;
}

div.home_container {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 650px;
}