{% extends 'base.html' %}

{% block content %}
<div class="home_container">
    <div class="content">
        <h3>Please select your device</h3>
        <hr>
        <div class="d-grid gap-2 d-md-block">
            <a href="{{ url_for('register') }}" class="btn btn-outline-primary btn-lg">Desktop</a>
        </div>
        <br>
        <div class="d-grid gap-2 d-md-block">
            <a href="{{ url_for('mobile') }}" class="btn btn-outline-primary btn-lg">Mobile</a>
        </div>
    </div>
</div>
{% endblock %}
