{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h2 style="color:#FFA500">You can continue your registration after these steps</h2>
    <hr>
    <h4 style="color:grey"><strong>Step 1: </strong>Tap the three dots at the lower right of your mobile screen</h4><br>
    <h4 style="color:grey"><strong>Step 2: </strong>Scroll down and select the "Request Mobile Site"</strong></h4><br>
    <h4 style="color:grey"><strong>Step 3: </strong>The page will automatically be reloaded</strong></h4><br>
    <h4 style="color:grey"><strong>Step 4: </strong>Head back to complete your registration process by clicking on the button below</strong></h4><br>
    <br>
    <div class="d-grid gap-2 d-md-block" style="text-align:center">
        <a href="{{ url_for('register') }}" class="btn btn-outline-primary btn-lg">Continue Registeration</a>
    </div>

</div>
{% endblock %}
